@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
}

.disabled{
    display: none !important;
}

body{
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.button{
    min-width: 136px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px; 
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.button__filled{
    color: #030303;
    background-color: #0077ff;
    border: 2px #0077ff solid;
}

.button__hollow{
    color: #0077ff;
    background-color: transparent;
    border: 2px #0077ff solid;
}


/* ------------------------ */
/* TAB VIEW                 */
/* ------------------------ */
.tabview{
    width: 100%;
    min-height: 100vh;

}

.tab__panel{
    display: flex;

    border-bottom: 2px white solid;
}

.tab__button{
    border: 2px white solid;
    border-bottom: 0;
    border-right: 0;
    padding: 5px;
    cursor: pointer;
}

.tab__button:hover{
    padding-top: 2px;
    padding-bottom: 8px;
}

.tab__button:last-child{
    border-right: 2px solid white;
    border-radius: 0 5px 0 0;
}

.tab__button:first-child{
    border-radius: 5px 0 0 0;
}

.tab__active{
    font-weight: bold;
    cursor: default;
    padding: 5px !important;
}

/* viewer */

.viewer__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.viewer__body{
    width: 100%;
    height: 100%;
}

.viewer__title{
    text-align: center;
    font-size: 32px;
    padding-left: 10px;
}

.viewer__add{
    margin-right: 10px;
}

.table{
    padding: 5px;
    margin: 0 auto;
}

input[type=text],input[type=password]{
    background-color: black;
    height: 34px;
    font-size: 16px;
    border:2px solid #0077ff;
    border-radius: 5px;
}

select, option, input[type=date],
textarea, input[type=search]{
    color: black;
}



/* ________________________ */
/* ________________________ */
/* ________________________ */

.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.ovui{
    background: #292929;
    padding: 20px;
    display: flex;
}


/* ________________________ */
/* ACCORDION                */
/* ________________________ */

.acc{
    width: 60%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #212121;
}

.acc__closed:hover{
    background-color: #696969;
}

.acc__closed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.acc__image{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.acco__image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.acc__element{
    border-bottom: 1px #696969 solid;
}

.acc__element:last-child{
    border-bottom: 0;
}

.acc__info{
    display: flex;
    padding: 5px;
}

.acc__text{
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    min-width: 50%;
}

.acc__description{
    font-size: 12px;
}

.acc__title{
    font-weight: bold;
}

.acc__close{
    width: 98%;
    margin: 1%;
}